In [105]:
import pandas as pd
df = pd.read_csv("random_sales_products.csv")

df

             date               product  sales
0      01/01/2025             cafeteira     32
1      01/01/2025  pedal para bicicleta     46
2      01/01/2025                 piano     32
3      01/01/2025   poltrona reclin�vel     43
4      01/01/2025                  sof�     47
...           ...                   ...    ...
32857  31/12/2025   conjunto de panelas     89
32858  31/12/2025                patins     31
32859  31/12/2025              notebook     65
32860  31/12/2025      m�quina de lavar     18
32861  31/12/2025     livro de mist�rio     82

[32862 rows x 3 columns]

In [ ]:
df.plot(kind="scatter", x="date", y ="sales");

In [109]:
# Separando dias meses e anos
df["date"] = pd.to_datetime(df["date"], format="%d/%m/%Y")
df["day"] = df["date"].dt.day
df["month"] = df["date"].dt.month
df["year"] = df["date"].dt.year

df

            date               product  sales  day  month  year
0     2025-01-01             cafeteira     32    1      1  2025
1     2025-01-01  pedal para bicicleta     46    1      1  2025
2     2025-01-01                 piano     32    1      1  2025
3     2025-01-01   poltrona reclin�vel     43    1      1  2025
4     2025-01-01                  sof�     47    1      1  2025
...          ...                   ...    ...  ...    ...   ...
32857 2025-12-31   conjunto de panelas     89   31     12  2025
32858 2025-12-31                patins     31   31     12  2025
32859 2025-12-31              notebook     65   31     12  2025
32860 2025-12-31      m�quina de lavar     18   31     12  2025
32861 2025-12-31     livro de mist�rio     82   31     12  2025

[32862 rows x 6 columns]

In [111]:
df["product_code"] = df["product"].astype("category").cat.codes #criando um codigo para cada produto

In [123]:
# create model 

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression


x = df[["day", "month", "year", "product_code"]]
y = df["sales"]

x_train, x_test, y_train, y_test  = train_test_split(x, y, test_size=0.2, random_state=42)


model = LinearRegression()
model.fit(x_train, y_train)

17836    50
17305    54
12980    95
24923    44
28321    52
         ..
12821    79
11699    62
16384    39
31942    46
8978     11
Name: sales, Length: 6573, dtype: int64

In [114]:
# Avaliação
from sklearn.metrics import mean_squared_error

y_pred = model.predict(x_test)
mse = mean_squared_error(y_test, y_pred)
print(f"MSE do modelo: {mse}")

MSE do modelo: 840.200068547235

In [120]:
# Identificar product code

df.loc[df['product'] == 'geladeira']["product_code"]

18       48
132      48
196      48
307      48
411      48
         ..
32314    48
32488    48
32612    48
32718    48
32824    48
Name: product_code, Length: 304, dtype: int8

In [122]:
new_data = pd.DataFrame({
    "day": [19],
    "month": [12],
    "year": [2025],
    "product_code": [48] 
})
predicted_data = model.predict(new_data)

print(f"Vendas previstas: {predicted_data[0]}")

Vendas previstas: 50.98120588986519